<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ngCubeApp">

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="FilterCtrl">

    <label ng-repeat="cat in categories">
      <input type="checkbox" checklist-model="where.categories" checklist-value="cat"> {{cat}}
   </label>
   <pre>{{where|json}}</pre>
    </div>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) js/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/checklist-model/checklist-model.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) js/scripts.js -->
        <script src="js/app.js"></script>
        <!-- endbuild -->
</body>
</html>
